.movie-card {
    text-align: center;
    width: 200px;
    height: 420px;
    position: relative;
    background-color: black;
    border-radius: 15px;
    margin: 1px;
}

.movie-card:hover {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    cursor: pointer;
    margin: 0px;
}

.poster-card {
    padding: 10px;
    width: 180px;
    height: 260px;
}

.title-card {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.watched-button {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.674);
    border-color: transparent;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 15px;
    border-color: transparent;
    color: white;
}

.watched-button:hover {
    background-color: black;
    cursor: pointer;
}

.movie-card.highlight {
    border: 3px solid limegreen;
    box-shadow: 0 0 15px limegreen;
    transition: box-shadow 0.5s ease, border 0.5s ease;
}

.watched-label {
  position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 50, 0, 0.674);
    border-color: transparent;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 15px;
    border-color: transparent;
    color: green;
}
