.register-box {
    background-color: rgba(0, 0, 0, 0.274);
    ;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 60px;
    width: 500px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    margin-top: 60px;
}

.register-button {
    margin: 0px;
    width: 80px;
    height: 35px;
    background-color: black;
    border: solid;
    border-width: 0px;
    color: white;
}

.register-button:hover {
    cursor: pointer;
}

.register-textfield {
    width: 200px;
    height: 40px;
    padding-left: 10px;
    background-color: black;
    color: white;
}